.card {
    margin: 1.5rem 1rem 0 1rem;
    padding: 1rem 1.2rem;
    font-size: 1.4rem;
    // color: white;
    width: 80%;

    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.13);
    align-self: flex-end;
}

.event_cards {
    display: flex;
    flex-direction: column;
}

.date_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eventname {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem
}

.date {
    font-weight: bold;
    color: rgb(87, 85, 85);
    font-size: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.tags {
    margin-top: 0.7rem;
    max-width: 100%;
}

.tag {
    display: inline-block;
    padding: 0.2rem;
    margin-right: 0.3rem;
    font-style: italic;
    color: rgb(50, 43, 117);
}

.card_img {
    border-radius: 10px;
    height: 9rem;
    object-fit: cover;
}