.search_bar {
    position: fixed;
    top: 2rem;
    z-index: 2137;
    padding: 1rem;
    width: 30%;
    border-radius: 2137rem;
    background-color: #fff;
    color: black;
    font-size: 1.4rem;
    font-style: italic;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10rem;
    box-shadow: 6px 7px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7.4px);
    
    border: 1px solid rgba(255, 255, 255, 0.13);
}


.search_bar_background {
    width: 100%;
}


