.post {
    margin-top: 3rem;
    padding: 2rem 3rem;
    font-size: 1.4rem;
    // color: white;

    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 6px 7px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.post_header {
    display: flex;
    align-items: center;
}

.username {
    font-weight: bold;
}

.dot {
    margin-left: 1.5rem;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: rgba(87, 85, 85, 0.884);
}

.date {

    // margin-top: 0.1rem;
    margin-left: .5rem;
    font-weight: bold;
    color: rgb(87, 85, 85);
    font-size: 1.2rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.tags {
    margin-top: 0.7rem;
    max-width: 100%;
}

.tag {
    display: inline-block;
    padding: 0.2rem;
    margin-right: 0.3rem;
    font-style: italic;
    color: rgb(50, 43, 117);
}
