.post {
    margin-top: 3rem;
    padding: 2rem 3rem;
    font-size: 1.4rem;
    // color: white;

    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 6px 7px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);   
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.username {
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.tags {
    display: flex;
    flex-direction: row;
}

.tag {
    padding: .2rem;
    margin-right: .3rem;
    font-style: italic;
    color: rgb(50, 43, 117);

}